body {
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Neucha', Helvetica, Arial;
    background-color: #CAC4CE;
    color: #242038;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header > section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-size: 400%;
    text-align: center;
    margin: 0;
}

.opcao_menu {
    padding: 20px 20px;
}

#formNome {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto 0;
}

.lbTitle {
    background-color: #242038;
    color: #E0C8AC;
    border-radius: 10px;
    font-size: 35px;
}

.lbEntry {
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #E0C8AC;
    color: #242038;
}

.lbTitulo, .lbConteudo, .time {
    display: inline;
}

.lbConteudo {
    padding-left: 5px;
}

.lbTitulo:not(:first-child) {
    padding-left: 20px;
}

.sub-tela {
    text-align: center;
}

.hud {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.hud-item {
    display: inline;
}

.hud-item:not(:first-of-type) {
    padding-left: 25px;
}

.hanged {
    position: absolute;
    top: 30%;
    left: 46%;
    width: 125px;
    height: 244px;
    margin: 2% auto;
    background: url(/Content/Images/hanged.png) left center;
    animation: play-hanged 2.1s steps(4) infinite;
}

@keyframes play-hanged {
	100% { background-position: 500px; }
}

.palpiteBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}