<div id="telaInicial" class="sub-tela formulario-centralizado col-md-5">
    <form id="formNome" class="form-horizontal">
        <div>
            <h2 class="titulo col-md-offset-3 col-md-3">Insira seu nome:</h2>
        </div>
        <div>
            <input placeholder="Username" type="text" required>
        </div>
        <button class='submit'  type="submit">Entrar</button>
    </form>
</div>
<div id="telaPrincipal" class="sub-tela">
</div>
@section Scripts{
    @Scripts.Render("~/bundles/app")
}