<div id="telaInicio" class="sub-tela">
    <form id="formNome">
        <div class="form-group">
            <h2 class="titulo">Insira seu nome:</h2>
        </div>
        <div class="form-group">
            <input placeholder="Username" type="text" required>
        </div>  
        <div class="form-group">
            <h2 class="titulo">Dificuldade:</h2>
        </div>
        <div class="form-group">
            <div class="switch-field">
                <input type="radio" id="switch_left" name="switch_2" value="1" checked />
                <label for="switch_left">Normal</label>
                <input type="radio" id="switch_right" name="switch_2" value="2" />
                <label for="switch_right">BH</label>
            </div>
        </div>
        <button class='submit' type="submit">Entrar</button>
    </form>
</div>