<div id="telaRanking" class="sub-tela">
    <h2 class="lbTitle">Leaderboard</h2>
    <section>
        <button class="submit" id="btn-dificuldade-normal">Dificuldade Normal</button>
        <button class="submit" id="btn-dificuldade-bh">Dificuldade BH</button>
    </section>
    {{#each chars}}
        <div class="lbEntry">
            <section>
                <h3 class="lbTitulo">Nome:</h3><h2 class="lbConteudo">{{Nome}}</h2>
            </section>
            <section>
                <h3 class="lbTitulo">Pontuação:</h3><h2 class="lbConteudo">{{Pontuacao}}</h2>
            </section>
        </div>
    {{/each}}
    <section>
        <button class="submit" id="btn-pagina-anterior">Anterior</button>
        <button class="submit" id="btn-proxima-pagina">Próxima</button>
    </section>
</div>